<h1 align="center"> Deep Learning gender from name - RNN LSTMs </h1>

In [0]:
import tensorflow as tf

In [0]:
from __future__ import print_function

from sklearn.preprocessing import OneHotEncoder
import keras
from keras.layers import Dense, Activation, Dropout, Flatten, AveragePooling1D
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding
from keras.layers import LSTM

import pandas as pd
import numpy as np
import os

import unicodedata
import string

Using TensorFlow backend.

In [0]:
# tf.__version__

In [0]:
#parameters namelength = maxlen, labels = male, female
maxlen = 25
labels = 2

# **Data Preparation**

In [0]:

all_letters = string.ascii_letters + " .,;'"
n_letters = len(all_letters)

# Turn a Unicode string to plain ASCII, thanks to http://stackoverflow.com/a/518232/2809427
def unicodeToAscii(s):
    return ''.join(
        c for c in unicodedata.normalize('NFD', s)
        if unicodedata.category(c) != 'Mn'
        and c in all_letters
    )

#print(unicodeToAscii('Ślusàrski fgdf'))

In [0]:
# f = open('./f-5000-names.txt').read().split(",")
# m = open('./m-5000-names.txt').read().split(",")

In [0]:
female = pd.read_csv('./Indian-Female-Names.csv')
male = pd.read_csv('./Indian-Male-Names.csv')

In [0]:
whitelist = set('abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ')


#f = [''.join(filter(whitelist.__contains__, unicodeToAscii(str(i).lower()))) for i in f]
#m = [''.join(filter(whitelist.__contains__, unicodeToAscii(str(i).lower()))) for i in m]


  

female = [''.join(filter(whitelist.__contains__, unicodeToAscii(str(i).lower()))) for i in female.name.tolist()]
male = [''.join(filter(whitelist.__contains__, unicodeToAscii(str(i).lower()))) for i in male.name.tolist()]



#f = list(set(f) - set(m1))
#m = list(set(m) - set(f1))

f = ["a"]
m = ["sa"]

In [0]:
# while("   " in f):
#   f.remove("   ")
# while("   " in m):
#   m.remove("   ")

# while("   " in female):
#   female.remove("   ")

# while("   " in male):
#   male.remove("   ")



# while("  " in f):
#   f.remove("  ")


# while("  " in m):
#   m.remove("  ")


# while("  " in female):
#   female.remove("  ")


# while("  " in male):
#   male.remove("  ")



# while(" " in f):
#   f.remove(" ")


# while(" " in m):
#   m.remove(" ")


# while(" " in female):
#   female.remove(" ")


# while(" " in male):
#   male.remove(" ")
  
# while("" in f):
#   f.remove("")


# while("" in m):
#   m.remove("")


# while("" in female):
#   female.remove("")


# while("" in male):
#   male.remove("")

In [0]:
for i in range(len(female)):
  x = female[i]

  if x[:2] == 'mr' or x[:3] == 'ms':
    x = x[2:]
  elif x[:3] == 'mrs' or x[:3] == 'smt':
    x = x[3:]
  elif x[:4] == 'mohd' or x[:4] == 'shri':
    x = x[4:]
  
  while x[0]=="":
    x = x[1:]
  
  if len(x.split())>=2:
    x = x.split()[0]
  
  female[i] = x

for i in range(len(male)):
  x = male[i]

  if x[:2] == 'mr' or x[:3] == 'ms':
    x = x[2:]
  elif x[:3] == 'mrs' or x[:3] == 'smt':
    x = x[3:]
  elif x[:4] == 'mohd' or x[:4] == 'shri':
    x = x[4:]
  

  while x[0]=="":
    x = x[1:]
  
  if len(x.split())>=2:
    x = x.split()[0]
  
  male[i] = x

In [0]:
# for i in female:
#   i = " ".join(i.split())
# for i in male:
#   i = " ".join(i.split())

In [0]:
# for i in range(len(f)):


#   #print(f[i], i)
#   x = f[i].split()[:2]
  
  
#   if x[0] in ['mr', 'mrs', 'smt', 'mohd', 'shri', 'ms'] or len(x[0])<=2:
#     f[i] = str(x[1]) if len(x)>=2 else ''
#   else:
#     f[i] = str(x[0])

# for i in range(len(m)):


#   #print(m[i], i)
#   x = m[i].split()[:2]
  
  
#   if x[0] in ['mr', 'mrs', 'smt', 'mohd', 'shri', 'ms'] or len(x[0])<=2:
#     m[i] = str(x[1]) if len(x)>=2 else ''
#   else:
#     m[i] = str(x[0])

# for i in range(len(female)):


#   #print(female[i], i)
#   x = female[i].split()[:2]
  
  
#   if x[0] in ['mr', 'mrs', 'smt', 'mohd', 'shri', 'ms'] or len(x[0])<=2:
#     female[i] = str(x[1]) if len(x)>=2 else ''
#   else:
#     female[i] = str(x[0])

# for i in range(len(male)):


#   #print(male[i], i)
#   x = male[i].split()[:2]
  
  
#   if x[0] in ['mr', 'mrs', 'smt', 'mohd', 'shri', 'ms'] or len(x[0])<=2:
#     male[i] = str(x[1]) if len(x)>=2 else ''
#   else:
#     male[i] = str(x[0])

In [0]:
# fn1 = [] #unique names with majority use in gender
# mn1 = [] #unique names with majority use in gender
# cs = f + m
# for i in list(set(cs)):
#   if i=='':
#     continue
  
#   if f.count(i) >= m.count(i):
#     fn1.append(i)
#   else:
#     mn1.append(i)

In [0]:
fn = [] #unique names with majority use in gender ex. male.count('rahul') = 5 and female.count('rahul') = 1...hence gender is male
mn = [] #unique names with majority use in gender

combined_gender = female + male
for i in list(set(combined_gender)):
  if i=='':
    continue
  i = " ".join(i.split())
  if female.count(i) >= male.count(i):
    #i = " ".join(i.split())
    fn.append(i)
  else:
    mn.append(i)

In [0]:
# fn1 = list(set(fn1) - set(mn))
# mn1 = list(set(mn1) - set(fn))

In [0]:
female_names = fn #fn + fn1
male_names = mn #mn + mn1

len(female_names), len(male_names), len(set(female_names)), len(set(male_names))

(3372, 3758, 3172, 3657)

In [0]:
unique_female_names = list(set(female_names))
unique_male_names = list(set(male_names))

In [0]:
unique_male_names = unique_male_names[:len(unique_female_names)]

In [0]:
len(unique_female_names), len(unique_male_names)

(3372, 3372)

In [0]:
name_combines = unique_female_names + unique_male_names
len(name_combines)

6744

In [0]:
len(name_combines), len(set(name_combines)), len(unique_female_names), len(unique_male_names)

(6744, 6468, 3372, 3372)

In [0]:
#unique_male_names.index('mohit')

In [0]:
f = ["f"]*len(unique_female_names)
m = ["m"]*len(unique_male_names)
m_or_f = f+m  #f should be at first

In [0]:
data_dict = {'name': name_combines, 'm_or_f': m_or_f}

df = pd.DataFrame(data_dict)

df.head(20)

        name m_or_f
0   tarunnam      f
1      gytri      f
2       sima      f
3    balalia      f
4       ilma      f
5      shiya      f
6       rubi      f
7     munmun      f
8     salama      f
9     gunjan      f
10    suhana      f
11     kajal      f
12    shneha      f
13   manbhar      f
14   shekiba      f
15    pallvi      f
16     prwem      f
17     kaish      f
18    kachri      f
19     varsa      f

In [0]:
# df['label'] = df['m_or_f'].apply(lambda x: 1 if x == 'f' else 0)

In [0]:
# df = df[['name', 'label']].sample(frac=1)

In [0]:
# !pip install phonetics
# import phonetics
# df['vowel_ending'] = df['name'].apply(lambda x: x[-1].lower() in set('aeiouy'))
# df['last'] = df['name'].apply(lambda x: x[-1].lower())
# #df['last_allit'] = df['name'].apply(lambda x: x[-1] == x[-2])
# df['phonetics'] = df['name'].apply(lambda x: phonetics.metaphone(x))

In [0]:
export_csv = df.to_csv ('gender_data.csv', index = None)

In [0]:
input_dataframe = pd.read_csv("gender_data.csv",header=None)
input_dataframe.columns = ['name','m_or_f']
input_dataframe['namelen']= [len(str(i)) for i in input_dataframe['name']]
input1 = input_dataframe[(input_dataframe['namelen'] >= 2) ]

In [0]:
input1.head()

       name  m_or_f  namelen
0      name  m_or_f        4
1  tarunnam       f        8
2     gytri       f        5
3      sima       f        4
4   balalia       f        7

In [0]:
input1 = input1.iloc[1:]
#input1['vowel_ending'] = input1['vowel_ending'].apply(lambda x: x.lower())

In [0]:
# input1['name'] = input1['name'] + input1['phonetics']
# input1.head()

In [0]:
names = input_dataframe['name']
gender = input_dataframe['m_or_f']
#phonetics = input1['phonetics']
vocab = list(' '.join([unicodeToAscii(str(i)) for i in names]))
#vocab1 = list(' '.join([unicodeToAscii(str(i)) for i in phonetics]))
vocab = set(vocab)
vocab.add('END')
# vocab.add('VOWEL')
# vocab.add('LAST')

len_vocab = len(vocab)

In [0]:
print(vocab)
print("vocab length is ",len_vocab)
print ("length of input is ",len(input1))

{'a', 'i', 'k', 'v', 'c', 'h', 'n', 'l', 'r', 'f', 's', 'q', 'END', 'x', 't', ' ', 'd', 'j', 'm', 'g', 'y', 'u', 'o', 'e', 'b', 'z', 'p', 'w'}
vocab length is  28
length of input is  6733

In [0]:
char_index = dict((c, i) for i, c in enumerate(vocab))

In [0]:
# char_index['0'] = 29
# print(char_index)

In [0]:
#train test split
msk = np.random.rand(len(input1)) < 0.8
train = input1[msk]
test = input1[~msk]

In [0]:
len(train), len(test)

(5358, 1375)

In [0]:
def set_flag(i):
    tmp = np.zeros(len(vocab));
    tmp[i] = 1
    return(tmp)

In [0]:
#take input upto max and truncate rest
#encode to vector space(one hot encoding)
#padd 'END' to shorter sequences
train_X = []
trunc_train_name = [str(i)[0:maxlen] for i in train.name]
for i in trunc_train_name:
    i = " ".join(i.split())
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    train_X.append(tmp)

In [0]:
np.asarray(train_X).shape

(5358, 25, 28)

In [0]:
# set_flag(3)

#### modify the code above to also convert each index to one-hot encoded representation

In [0]:
#take input upto max and truncate rest
#encode to vector space(one hot encoding)
#padd 'END' to shorter sequences
#also convert each index to one-hot encoding
train_X = []
train_Y = []
trunc_train_name = [str(i)[0:maxlen] for i in train.name]
for i in trunc_train_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    tmp = np.array(tmp)
    train_X.append(tmp)
for i in train.m_or_f:
    if i == 'm':
        train_Y.append([1,0])
    else:
        train_Y.append([0,1])

In [0]:
# np.asarray(train_X).shape

In [0]:
# np.asarray(train_Y).shape

#### build model in keras ( a stacked LSTM model with many-to-one arch ) here 30 sequence and 2 output each for one category(m/f)

In [0]:
#build the model: 2 stacked LSTM

hidden_nodes = int(2/3 * (maxlen * len_vocab))
print('Build model...')
model = Sequential()

model.add(LSTM(hidden_nodes, return_sequences=True, input_shape=(maxlen,len_vocab)))
model.add(Dropout(0.2))

model.add(LSTM(hidden_nodes, return_sequences=False))
model.add(Dropout(0.2))

#model.add(Flatten())
model.add(Dense(2))
model.add(Activation('softmax'))

#from keras import optimizers
#sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='categorical_crossentropy', optimizer='adam',metrics=['accuracy'])

Build model...
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [0]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 25, 466)           922680
_________________________________________________________________
dropout_1 (Dropout)          (None, 25, 466)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 466)               1739112
_________________________________________________________________
dropout_2 (Dropout)          (None, 466)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 934
_________________________________________________________________
activation_1 (Activation)    (None, 2)                 0
=================================================================
Total params: 2,662,726
Trainable params: 2,662,726
Non-trainable params: 0
_________________________________________________________________

In [0]:
test_X = []
test_Y = []
trunc_test_name = [str(i)[0:maxlen] for i in test.name]
for i in trunc_test_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    tmp = np.array(tmp)
    shape = tmp.shape
    tmp.reshape([1, shape[0], shape[1]])
    test_X.append(tmp)
for i in test.m_or_f:
    if i == 'm':
        test_Y.append([1,0])
    else:
        test_Y.append([0,1])

In [0]:
print(np.asarray(test_X).shape)
print(np.asarray(test_Y).shape)

(1375, 25, 28)
(1375, 2)

In [0]:
train_X = np.array(train_X)
train_Y = np.array(train_Y)
test_X = np.array(test_X)
test_Y = np.array(test_Y)
batch_size=1000
model.fit(train_X, train_Y,batch_size=batch_size,nb_epoch=70,validation_data=(test_X, test_Y))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 5358 samples, validate on 1375 samples
Epoch 1/70
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

5358/5358 [==============================] - 12s 2ms/step - loss: 0.6978 - acc: 0.4983 - val_loss: 0.6948 - val_acc: 0.4975
Epoch 2/70
5358/5358 [==============================] - 1s 220us/step - loss: 0.6942 - acc: 0.4944 - val_loss: 0.6927 - val_acc: 0.5025
Epoch 3/70
5358/5358 [==============================] - 1s 218us/step - loss: 0.6912 - acc: 0.5468 - val_loss: 0.6815 - val_acc: 0.5905
Epoch 4/70
5358/5358 [==============================] - 1s 221us/step - loss: 0.6760 - acc: 0.5911 - val_loss: 0.6818 - val_acc: 0.6320
Epoch 5/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.6833 - acc: 0.5750 - val_loss: 0.6781 - val_acc: 0.6131
Epoch 6/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.6626 - acc: 0.6297 - val_loss: 0.6724 - val_acc: 0.5505
Epoch 7/70
5358/5358 [==============================] - 1s 219us/step - loss: 0.6462 - acc: 0.6269 - val_loss: 0.6593 - val_acc: 0.6255
Epoch 8/70
5358/5358 [==============================] - 1s 219us/step - loss: 0.6249 - acc: 0.6579 - val_loss: 0.6315 - val_acc: 0.6298
Epoch 9/70
5358/5358 [==============================] - 1s 220us/step - loss: 0.6210 - acc: 0.6652 - val_loss: 0.5975 - val_acc: 0.6684
Epoch 10/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.5961 - acc: 0.6934 - val_loss: 0.6072 - val_acc: 0.6764
Epoch 11/70
5358/5358 [==============================] - 1s 221us/step - loss: 0.5850 - acc: 0.6993 - val_loss: 0.5573 - val_acc: 0.7156
Epoch 12/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.5571 - acc: 0.7260 - val_loss: 0.5746 - val_acc: 0.7025
Epoch 13/70
5358/5358 [==============================] - 1s 220us/step - loss: 0.5585 - acc: 0.7297 - val_loss: 0.5422 - val_acc: 0.7418
Epoch 14/70
5358/5358 [==============================] - 1s 219us/step - loss: 0.5530 - acc: 0.7307 - val_loss: 0.5478 - val_acc: 0.7280
Epoch 15/70
5358/5358 [==============================] - 1s 219us/step - loss: 0.5533 - acc: 0.7355 - val_loss: 0.5385 - val_acc: 0.7425
Epoch 16/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.5315 - acc: 0.7471 - val_loss: 0.5331 - val_acc: 0.7476
Epoch 17/70
5358/5358 [==============================] - 1s 224us/step - loss: 0.5270 - acc: 0.7535 - val_loss: 0.5233 - val_acc: 0.7549
Epoch 18/70
5358/5358 [==============================] - 1s 220us/step - loss: 0.5225 - acc: 0.7508 - val_loss: 0.5445 - val_acc: 0.7382
Epoch 19/70
5358/5358 [==============================] - 1s 221us/step - loss: 0.5199 - acc: 0.7585 - val_loss: 0.5047 - val_acc: 0.7665
Epoch 20/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.5012 - acc: 0.7665 - val_loss: 0.5011 - val_acc: 0.7796
Epoch 21/70
5358/5358 [==============================] - 1s 224us/step - loss: 0.4974 - acc: 0.7712 - val_loss: 0.5050 - val_acc: 0.7789
Epoch 22/70
5358/5358 [==============================] - 1s 221us/step - loss: 0.4996 - acc: 0.7714 - val_loss: 0.4921 - val_acc: 0.7753
Epoch 23/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4918 - acc: 0.7798 - val_loss: 0.4937 - val_acc: 0.7840
Epoch 24/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4924 - acc: 0.7798 - val_loss: 0.5099 - val_acc: 0.7615
Epoch 25/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4747 - acc: 0.7878 - val_loss: 0.4833 - val_acc: 0.7884
Epoch 26/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.4708 - acc: 0.7932 - val_loss: 0.4764 - val_acc: 0.7876
Epoch 27/70
5358/5358 [==============================] - 1s 224us/step - loss: 0.4698 - acc: 0.7900 - val_loss: 0.4666 - val_acc: 0.7956
Epoch 28/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4669 - acc: 0.7923 - val_loss: 0.4735 - val_acc: 0.7833
Epoch 29/70
5358/5358 [==============================] - 1s 224us/step - loss: 0.4612 - acc: 0.7938 - val_loss: 0.4659 - val_acc: 0.7978
Epoch 30/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4650 - acc: 0.7984 - val_loss: 0.4738 - val_acc: 0.7942
Epoch 31/70
5358/5358 [==============================] - 1s 226us/step - loss: 0.4659 - acc: 0.7930 - val_loss: 0.4666 - val_acc: 0.8029
Epoch 32/70
5358/5358 [==============================] - 1s 222us/step - loss: 0.4509 - acc: 0.8001 - val_loss: 0.4807 - val_acc: 0.7818
Epoch 33/70
5358/5358 [==============================] - 1s 223us/step - loss: 0.4517 - acc: 0.8027 - val_loss: 0.4760 - val_acc: 0.7884
Epoch 34/70
5358/5358 [==============================] - 1s 225us/step - loss: 0.4483 - acc: 0.8035 - val_loss: 0.4834 - val_acc: 0.7753
Epoch 35/70
5358/5358 [==============================] - 1s 224us/step - loss: 0.4582 - acc: 0.7923 - val_loss: 0.4784 - val_acc: 0.7884
Epoch 36/70
5358/5358 [==============================] - 1s 225us/step - loss: 0.4541 - acc: 0.7986 - val_loss: 0.4774 - val_acc: 0.7942
Epoch 37/70
5358/5358 [==============================] - 1s 226us/step - loss: 0.4516 - acc: 0.8076 - val_loss: 0.4648 - val_acc: 0.7956
Epoch 38/70
5358/5358 [==============================] - 1s 226us/step - loss: 0.4456 - acc: 0.8094 - val_loss: 0.4548 - val_acc: 0.8015
Epoch 39/70
5358/5358 [==============================] - 1s 227us/step - loss: 0.4407 - acc: 0.8072 - val_loss: 0.4557 - val_acc: 0.8044
Epoch 40/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.4414 - acc: 0.8089 - val_loss: 0.4901 - val_acc: 0.7869
Epoch 41/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.4464 - acc: 0.8074 - val_loss: 0.4570 - val_acc: 0.7993
Epoch 42/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.4414 - acc: 0.8076 - val_loss: 0.4539 - val_acc: 0.8029
Epoch 43/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.4278 - acc: 0.8137 - val_loss: 0.4567 - val_acc: 0.8044
Epoch 44/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.4295 - acc: 0.8108 - val_loss: 0.4574 - val_acc: 0.8051
Epoch 45/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.4237 - acc: 0.8195 - val_loss: 0.4676 - val_acc: 0.8015
Epoch 46/70
5358/5358 [==============================] - 1s 225us/step - loss: 0.4255 - acc: 0.8150 - val_loss: 0.4490 - val_acc: 0.8029
Epoch 47/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.4149 - acc: 0.8229 - val_loss: 0.4475 - val_acc: 0.8087
Epoch 48/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.4184 - acc: 0.8178 - val_loss: 0.4585 - val_acc: 0.8065
Epoch 49/70
5358/5358 [==============================] - 1s 227us/step - loss: 0.4165 - acc: 0.8214 - val_loss: 0.4467 - val_acc: 0.8044
Epoch 50/70
5358/5358 [==============================] - 1s 226us/step - loss: 0.4103 - acc: 0.8249 - val_loss: 0.4434 - val_acc: 0.8175
Epoch 51/70
5358/5358 [==============================] - 1s 227us/step - loss: 0.4015 - acc: 0.8275 - val_loss: 0.4463 - val_acc: 0.8080
Epoch 52/70
5358/5358 [==============================] - 1s 225us/step - loss: 0.3966 - acc: 0.8317 - val_loss: 0.4562 - val_acc: 0.8065
Epoch 53/70
5358/5358 [==============================] - 1s 226us/step - loss: 0.3996 - acc: 0.8320 - val_loss: 0.4409 - val_acc: 0.8116
Epoch 54/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3938 - acc: 0.8272 - val_loss: 0.4538 - val_acc: 0.7978
Epoch 55/70
5358/5358 [==============================] - 1s 227us/step - loss: 0.3996 - acc: 0.8315 - val_loss: 0.4537 - val_acc: 0.7971
Epoch 56/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.4008 - acc: 0.8227 - val_loss: 0.4542 - val_acc: 0.7993
Epoch 57/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3996 - acc: 0.8287 - val_loss: 0.4609 - val_acc: 0.8058
Epoch 58/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3919 - acc: 0.8346 - val_loss: 0.4562 - val_acc: 0.8080
Epoch 59/70
5358/5358 [==============================] - 1s 230us/step - loss: 0.3864 - acc: 0.8367 - val_loss: 0.4654 - val_acc: 0.7855
Epoch 60/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.3912 - acc: 0.8361 - val_loss: 0.4537 - val_acc: 0.7993
Epoch 61/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3966 - acc: 0.8244 - val_loss: 0.4526 - val_acc: 0.8073
Epoch 62/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3745 - acc: 0.8373 - val_loss: 0.4492 - val_acc: 0.8044
Epoch 63/70
5358/5358 [==============================] - 1s 229us/step - loss: 0.3792 - acc: 0.8393 - val_loss: 0.4404 - val_acc: 0.8145
Epoch 64/70
5358/5358 [==============================] - 1s 227us/step - loss: 0.3678 - acc: 0.8451 - val_loss: 0.4502 - val_acc: 0.8131
Epoch 65/70
5358/5358 [==============================] - 1s 231us/step - loss: 0.3639 - acc: 0.8457 - val_loss: 0.4402 - val_acc: 0.8167
Epoch 66/70
5358/5358 [==============================] - 1s 231us/step - loss: 0.3632 - acc: 0.8473 - val_loss: 0.4454 - val_acc: 0.8153
Epoch 67/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3609 - acc: 0.8427 - val_loss: 0.4583 - val_acc: 0.8116
Epoch 68/70
5358/5358 [==============================] - 1s 231us/step - loss: 0.3616 - acc: 0.8455 - val_loss: 0.4526 - val_acc: 0.8080
Epoch 69/70
5358/5358 [==============================] - 1s 228us/step - loss: 0.3639 - acc: 0.8417 - val_loss: 0.4362 - val_acc: 0.8087
Epoch 70/70
5358/5358 [==============================] - 1s 231us/step - loss: 0.3596 - acc: 0.8455 - val_loss: 0.4413 - val_acc: 0.8124

In [0]:
score, acc = model.evaluate(test_X, test_Y)
print('Test score:', score)
print('Test accuracy:', acc)

1375/1375 [==============================] - 1s 1ms/step
Test score: 0.4413424301364205
Test accuracy: 0.8123636358001015

In [0]:
name = ['arun', 'ravi', 'shiva', 'tulsi', 'bhanu', 'simran', 'varun', 'lovely', 'sumit', 'madhu', 'sakti', 'saroj', 'aditya', 'himanshu']
X=[]
trunc_name = [i[0:maxlen] for i in name]
for i in trunc_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    X.append(tmp)
pred=model.predict(np.asarray(X))

x = 0
for i in pred:
  if i[0]>0.7 or i[1]>0.7:
    pr = 'male' if np.argmax(i) == 0 else 'female'
    print(name[x], pr, i)
  else:
    print(name[x],'Find from image', i)
  x+=1

arun Find from image [0.38626096 0.6137391 ]
ravi Find from image [0.64587504 0.35412496]
shiva female [0.14806013 0.85193986]
tulsi Find from image [0.49932063 0.5006794 ]
bhanu Find from image [0.6831102  0.31688985]
simran Find from image [0.6803287  0.31967124]
varun male [0.8610457 0.1389543]
lovely female [0.25212765 0.7478724 ]
sumit male [0.93268543 0.06731457]
madhu Find from image [0.4680304 0.5319696]
sakti female [0.1194437 0.8805563]
saroj male [0.9320922  0.06790784]
aditya Find from image [0.6679771  0.33202288]
himanshu male [0.8850499  0.11495011]

In [0]:
X=[]
q = 1
name = [str(i)[0:maxlen] for i in test.name]
trunc_name = [i[0:maxlen] for i in name]
for i in trunc_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    X.append(tmp)
pred=model.predict(np.asarray(X))
for  i in range(len(pred)):
    pr = 'male' if np.argmax(pred[i]) == 0 else 'female'
    ac = 'male' if np.argmax(test_Y[i]) == 0 else 'female'
    if pr != ac and (pred[i][0]>0.7 or pred[i][1]>0.7):
      q+=1
      print ("{}, actual: {}, pred: {}".format(name[i], ac, pr))

print(q)

mariyam, actual: female, pred: male
ishawar, actual: female, pred: male
raghuvinder, actual: female, pred: male
jioty, actual: female, pred: male
kamar, actual: female, pred: male
dolat, actual: female, pred: male
sharjprit, actual: female, pred: male
amie, actual: female, pred: male
jugan, actual: female, pred: male
chatru, actual: female, pred: male
santosh, actual: female, pred: male
batloon, actual: female, pred: male
ataullah, actual: female, pred: male
binu, actual: female, pred: male
rafat, actual: female, pred: male
nandu, actual: female, pred: male
tausif, actual: female, pred: male
lakhvinder, actual: female, pred: male
rajenderi, actual: female, pred: male
ifteshyam, actual: female, pred: male
munesh, actual: female, pred: male
viren, actual: female, pred: male
durgash, actual: female, pred: male
afroz, actual: female, pred: male
paramjeet, actual: female, pred: male
juneb, actual: female, pred: male
bishnu, actual: female, pred: male
ahshan, actual: female, pred: male
shm, actual: female, pred: male
memraj, actual: female, pred: male
nargesh, actual: female, pred: male
ekamjeet, actual: female, pred: male
dhaneswar, actual: female, pred: male
captain, actual: female, pred: male
dur, actual: female, pred: male
mehak, actual: female, pred: male
ilyaash, actual: female, pred: male
aasu, actual: female, pred: male
guddiyaguddi, actual: female, pred: male
risabh, actual: female, pred: male
namen, actual: female, pred: male
jhamaku, actual: female, pred: male
lakhbir, actual: female, pred: male
rosan, actual: female, pred: male
faimuddin, actual: female, pred: male
dimpal, actual: female, pred: male
rupam, actual: female, pred: male
mehvish, actual: female, pred: male
izhar, actual: female, pred: male
saranthem, actual: female, pred: male
nargish, actual: female, pred: male
daulat, actual: female, pred: male
joity, actual: female, pred: male
sunpreet, actual: female, pred: male
gurdeep, actual: female, pred: male
nassin, actual: female, pred: male
nirvat, actual: female, pred: male
nazeer, actual: female, pred: male
rajinder, actual: female, pred: male
sudesh, actual: female, pred: male
nilofar, actual: female, pred: male
mony, actual: female, pred: male
parsann, actual: female, pred: male
shakeeb, actual: female, pred: male
girishchandra, actual: female, pred: male
poojavarsha, actual: female, pred: male
hagami, actual: female, pred: male
isnesh, actual: female, pred: male
veeru, actual: female, pred: male
aatikun, actual: female, pred: male
varsh, actual: female, pred: male
mehru, actual: female, pred: male
kushiv, actual: female, pred: male
dhrama, actual: female, pred: male
aishe, actual: female, pred: male
vinder, actual: female, pred: male
jenifer, actual: female, pred: male
suchi, actual: female, pred: male
yasmin, actual: female, pred: male
nanveet, actual: female, pred: male
mehfooj, actual: female, pred: male
rimzim, actual: female, pred: male
ishrat, actual: female, pred: male
rabin, actual: female, pred: male
amrat, actual: female, pred: male
matul, actual: female, pred: male
geet, actual: female, pred: male
sithal, actual: female, pred: male
sagiran, actual: female, pred: male
bhaggo, actual: female, pred: male
indra, actual: female, pred: male
vyelet, actual: female, pred: male
arafaat, actual: female, pred: male
father, actual: female, pred: male
asmit, actual: female, pred: male
jashgul, actual: female, pred: male
premature, actual: female, pred: male
himanshee, actual: female, pred: male
jarim, actual: female, pred: male
kashif, actual: female, pred: male
chanab, actual: female, pred: male
lakhe, actual: female, pred: male
bheema, actual: male, pred: female
aru, actual: male, pred: female
manshi, actual: male, pred: female
gugna, actual: male, pred: female
laka, actual: male, pred: female
aaftaab, actual: male, pred: female
sofali, actual: male, pred: female
prithvi, actual: male, pred: female
uda, actual: male, pred: female
heeera, actual: male, pred: female
sawali, actual: male, pred: female
hanni, actual: male, pred: female
nanka, actual: male, pred: female
adi, actual: male, pred: female
veeri, actual: male, pred: female
kmdeyji, actual: male, pred: female
bhala, actual: male, pred: female
bhima, actual: male, pred: female
rolly, actual: male, pred: female
amiri, actual: male, pred: female
jagpati, actual: male, pred: female
rinkoo, actual: male, pred: female
warmati, actual: male, pred: female
kuwarjeet, actual: male, pred: female
laliya, actual: male, pred: female
jalmi, actual: male, pred: female
deni, actual: male, pred: female
sahajaha, actual: male, pred: female
homa, actual: male, pred: female
najubai, actual: male, pred: female
ashwani, actual: male, pred: female
jitenderjita, actual: male, pred: female
jhalla, actual: male, pred: female
lala, actual: male, pred: female
jumrati, actual: male, pred: female
lawrence, actual: male, pred: female
firakat, actual: male, pred: female
tuka, actual: male, pred: female
shani, actual: male, pred: female
ashwanimanish, actual: male, pred: female
rana, actual: male, pred: female
midda, actual: male, pred: female
shreeniwas, actual: male, pred: female
dana, actual: male, pred: female
laltha, actual: male, pred: female
saieman, actual: male, pred: female
noornabi, actual: male, pred: female
anokha, actual: male, pred: female
na, actual: male, pred: female
shaymu, actual: male, pred: female
vinoda, actual: male, pred: female
mokida, actual: male, pred: female
155

In [0]:
# name=["sanju","simran","madhu", "amit"]
# X=[]
# trunc_name = [i[0:maxlen] for i in name]
# for i in trunc_name:
#     tmp = [set_flag(char_index[j]) for j in str(i)]
#     for k in range(0,maxlen - len(str(i))):
#         tmp.append(set_flag(char_index["END"]))
#     X.append(tmp)
# pred=model.predict(np.asarray(X))
# pred

In [0]:
#save our model and data
model.save('gender_model',overwrite=True)
# train.to_csv("train_split.csv")
# test.to_csv("test_split.csv")

In [0]:
from keras.models import load_model
new_model = load_model('./gender_model')

In [0]:
train_X.shape, test_X.shape, test_Y.shape, train_Y.shape

((5108, 25, 28), (1225, 25, 28), (1225, 2), (5108, 2))

In [0]:
X=[]
q = 1
name = [str(i)[0:maxlen] for i in test.name]
trunc_name = [i[0:maxlen] for i in name]
for i in trunc_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    X.append(tmp)
pred=new_model.predict(np.asarray(X))
for  i in range(len(pred)):
    pr = 'male' if np.argmax(pred[i]) == 0 else 'female'
    ac = 'male' if np.argmax(test_Y[i]) == 0 else 'female'
    if pr != ac and (pred[i][0]>0.7 or pred[i][1]>0.7):
      q+=1
      print ("{}, actual: {}, pred: {}".format(name[i], ac, pr))

print(q)

mehvish, actual: female, pred: male
tarunnam, actual: female, pred: male
hasnain, actual: female, pred: male
nancy, actual: female, pred: male
jasvinder, actual: female, pred: male
aazadijully, actual: female, pred: male
siwam, actual: female, pred: male
alis, actual: female, pred: male
fool, actual: female, pred: male
bsram, actual: female, pred: male
daulat, actual: female, pred: male
jioty, actual: female, pred: male
maaya, actual: female, pred: male
kajal, actual: female, pred: male
saveroon, actual: female, pred: male
used, actual: female, pred: male
parmjeet, actual: female, pred: male
nirvat, actual: female, pred: male
samsher, actual: female, pred: male
sudesh, actual: female, pred: male
sabenoortamanna, actual: female, pred: male
ishawar, actual: female, pred: male
ekamjeet, actual: female, pred: male
nasim, actual: female, pred: male
awshin, actual: female, pred: male
rukhsar, actual: female, pred: male
taran, actual: female, pred: male
rupender, actual: female, pred: male
ruksar, actual: female, pred: male
budho, actual: female, pred: male
uved, actual: female, pred: male
chnda, actual: female, pred: male
kanchn, actual: female, pred: male
rojmen, actual: female, pred: male
kamjeet, actual: female, pred: male
lakhvinder, actual: female, pred: male
yukilal, actual: female, pred: male
palvinder, actual: female, pred: male
tyara, actual: female, pred: male
dur, actual: female, pred: male
balvinder, actual: female, pred: male
shakeeb, actual: female, pred: male
araddhna, actual: female, pred: male
kumud, actual: female, pred: male
wo, actual: female, pred: male
dimpal, actual: female, pred: male
deepka, actual: female, pred: male
tasveeran, actual: female, pred: male
sahawaj, actual: female, pred: male
rinukanwr, actual: female, pred: male
payal, actual: female, pred: male
komal, actual: female, pred: male
janid, actual: female, pred: male
kalpna, actual: female, pred: male
wilkish, actual: female, pred: male
hyatun, actual: female, pred: male
chhaya, actual: female, pred: male
jaitun, actual: female, pred: male
harjit, actual: female, pred: male
rusan, actual: female, pred: male
sagiran, actual: female, pred: male
kajol, actual: female, pred: male
ifteshyam, actual: female, pred: male
anam, actual: female, pred: male
kiran, actual: female, pred: male
jaydurga, actual: female, pred: male
preyank, actual: female, pred: male
rabin, actual: female, pred: male
ugam, actual: female, pred: male
phol, actual: female, pred: male
kritikakittu, actual: female, pred: male
phul, actual: female, pred: male
najis, actual: female, pred: male
madam, actual: female, pred: male
jeeren, actual: female, pred: male
mariam, actual: female, pred: male
shilap, actual: female, pred: male
ahshan, actual: female, pred: male
aanik, actual: female, pred: male
satwinder, actual: female, pred: male
parven, actual: female, pred: male
bidhya, actual: female, pred: male
pushpan, actual: female, pred: male
nargish, actual: female, pred: male
yunus, actual: female, pred: male
kadu, actual: female, pred: male
kaushar, actual: female, pred: male
kosar, actual: female, pred: male
miraz, actual: female, pred: male
archan, actual: female, pred: male
bantu, actual: female, pred: male
sarwan, actual: female, pred: male
jahirul, actual: female, pred: male
shetal, actual: female, pred: male
kamlash, actual: female, pred: male
useel, actual: female, pred: male
kr, actual: female, pred: male
nooreen, actual: female, pred: male
rupen, actual: female, pred: male
ajmal, actual: female, pred: male
viren, actual: female, pred: male
ataullah, actual: female, pred: male
manormapal, actual: female, pred: male
aanchal, actual: female, pred: male
mamt, actual: female, pred: male
kamlajeet, actual: female, pred: male
paramjit, actual: female, pred: male
bitoo, actual: female, pred: male
anjuman, actual: female, pred: male
jincy, actual: female, pred: male
zainab, actual: female, pred: male
ramdulari, actual: female, pred: male
nootan, actual: female, pred: male
shakutal, actual: female, pred: male
nikkhar, actual: female, pred: male
yogeshwari, actual: female, pred: male
vikshi, actual: female, pred: male
foolmaya, actual: female, pred: male
dishu, actual: female, pred: male
sri, actual: male, pred: female
deba, actual: male, pred: female
badri, actual: male, pred: female
punarjyoti, actual: male, pred: female
nanka, actual: male, pred: female
dhananjai, actual: male, pred: female
sukka, actual: male, pred: female
prashansa, actual: male, pred: female
parmo, actual: male, pred: female
noornabi, actual: male, pred: female
amiri, actual: male, pred: female
bheema, actual: male, pred: female
sanjai, actual: male, pred: female
chiranjavi, actual: male, pred: female
pawna, actual: male, pred: female
bunti, actual: male, pred: female
bansi, actual: male, pred: female
dimpy, actual: male, pred: female
rammurti, actual: male, pred: female
baccha, actual: male, pred: female
sharee, actual: male, pred: female
mishri, actual: male, pred: female
geesa, actual: male, pred: female
rookmani, actual: male, pred: female
anli, actual: male, pred: female
subrati, actual: male, pred: female
tammanne, actual: male, pred: female
nenhe, actual: male, pred: female
yaswani, actual: male, pred: female
mogli, actual: male, pred: female
arjun, actual: male, pred: female
gani, actual: male, pred: female
harmani, actual: male, pred: female
shakhtnsana, actual: male, pred: female
tashnim, actual: male, pred: female
julfi, actual: male, pred: female
punia, actual: male, pred: female
sahnaj, actual: male, pred: female
jagdambika, actual: male, pred: female
jeeya, actual: male, pred: female
aansu, actual: male, pred: female
nanhu, actual: male, pred: female
akkni, actual: male, pred: female
hazari, actual: male, pred: female
lawli, actual: male, pred: female
munne, actual: male, pred: female
surya, actual: male, pred: female
laliya, actual: male, pred: female
subato, actual: male, pred: female
razi, actual: male, pred: female
njare, actual: male, pred: female
baniya, actual: male, pred: female
172